{% extends "base.html" %}
{% block content %}
<h1> All Spells </h1>


<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Spell Name</th>
        <th>Type</th>
        <th>School</th>
        <th>Level</th>
        <th>Components</th>
        <th>Casting Time</th>
        <th>Effect</th>
        <th>Range</th>
        <th>Targets</th>
        <th>Duration</th>
        <th>Saving Throw</th>
        <th>Spell Resistance</th>
    </tr>
    </thead>

    <tbody>
    {% for spell in spells %}
    <tr>
        <td><a href="{{base_path}}/spells/{{spell.id}}">{{spell.name}}</a></td>
        <td>{{spell.type}}</td>
        <td>{{spell.school}}</td>
        <td>{{spell.level}}</td>
        {% if spell.components %}
        <td>{{spell.components}}</td>
        {% else %}
        <td>No</td>
        {% endif %}
        <td>{{spell.castingtime}}</td>
        <td>{{spell.effect}}</td>
        <td>{{spell.targets}}</td>
        <td>{{spell.duration}}</td>
        {% if spell.savingthrow %}
        <td>{{spell.savingthrow}}</td>
        {% else %}
        <td>No</td>
        {% endif %}
        {% if spell.spellresistance %}
        <td>{{spell.spellresistance}}</td>
        {% else %}
        <td>No</td>
        {% endif %}
        <td>
        <form method="post" action="{{base_path}}/spell_to_spellbook">
            <input type="hidden" name="spellbook_id" value="{{id}}">
            <input type="hidden" name="spell_id" value="{{spell.id}}">
        <button type="submit" class="btn-primary">Add this spell to your Spellbook</button>
        </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>

</table>


{% endblock %}