{% extends "base.html" %}
{% block content %}

<h1> Add spell</h1>


<form method="post" action="{{base_path}}/spells">

    <div class="form-group">
        <label>Name</label>
        <input name="name" class="form-control" type="text">
    </div>

    <div class="form-group">
        <label>Type</label>
        <input type="type" class="form-control" type="text">
    </div>

    <div class="form-group">
        <label>School</label>
        <input school="school" class="form-control" type="text">
    </div>

    <div class="form-group">
        <label>Level</label>
        <input level="level" class="form-control" type="text">
    </div>

    <div class="form-group">
        <label>Components</label>
        <input components="components" class="form-control" type="text">
    </div>

    <div class="form-group">
        <label>Casting Time</label>
        <input castingtime="castingtime" class="form-control" type="text">
    </div>

    <div class="form-group">
        <label>Range</label>
        <input range="range" class="form-control" type="text">
    </div>

    <div class="form-group">
        <label>Effect</label>
        <input effect="effect" class="form-control" type="text">
    </div>

    <div class="form-group">
        <label>Targets</label>
        <input targets="targets" class="form-control" type="text">
    </div>

    <div class="form-group">
        <label>Duration</label>
        <input duration="duration" class="form-control" type="text">
    </div>

    <div class="form-group">
        <label>Saving Throw</label>
        <input savingthrow="savingthrow" class="form-control" type="text">
    </div>

    <div class="form-group">
        <label>spellresistance</label>
        <input spellresistance="spellresistance" class="form-control" type="text">
    </div>

    <div class="form-group">
        <label>Description</label>
        <input description="description" class="form-control" type="text">
    </div>

    <div class="form-group">
        <button type="submit" class="btn-primary">Add Spell</button>

    </div>
</form>

{% endblock %}
