{% extends "base.html" %}
{% block content %}
<h1> All Spellbooks</h1>

<p> <a href="{{base_path}}/new_spellbook" class="btn btn-success"> Add a spellbook</a> </p>

<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Spellbooks Name</th>
    </tr>
    </thead>

    <tbody>
    {% for spellbook in spellbooks %}
    <tr>
        <td><a href="{{base_path}}/spellbooks/{{spellbook.id}}">{{spellbook.name}}</a></td>
        <thd><form method="post" action="{{base_path}}/spellbooks/{{spellbook.id}}/delete">
            <button class="btn btn-danger">Delete</button>

        </form></thd>
    </tr>
    {% endfor %}
    </tbody>

</table>


{% endblock %}